# ==================================================
# Auto detect text files and perform LF normalization
# ==================================================

* text=auto

# ==================================================
# Generic files.
# ==================================================

*.cfg    text
*.CFG    text
*.csproj text
*.CSPROJ text
*.sln    text
*.SLN    text
*.txt    text
*.TXT    text
*.xml    text
*.XML    text

# ==================================================
# Assemblies and database files.
# ==================================================

*.dll  binary
*.DLL  binary

# ==================================================
# Compilable source code files.
# ==================================================

*.cs diff=csharp
*.CS diff=csharp

# ==================================================
# Ignore list (folder and file names).
# ==================================================

Source         export-ignore

.gitattributes export-ignore
.gitignore     export-ignore
*.md           export-ignore
*.MD           export-ignore
