# ==================================================
# Ignore selected folders and file types from the git
# repository.
# ==================================================

NodeHelper/Builds
NodeHelper/References

*.db
*.DB
*.DS_Store
*.ini
*.INI
*.lnk
*.LNK
*.pdb
*.PDB
